.country {
  display: grid;
  grid-gap: 60px;
  justify-items: center;
  padding: 4px;
  background-color: white;
}

.country__sources {
  font-size: 8pt;
  list-style: none;
}

.country__source {
  margin-bottom: 4px;
}
