.country {
  display: flex;
  padding: 18px;
  background-color: white;
  justify-content: center;
  flex-wrap: wrap;
}

.country__score {
  color: rgb(124, 181, 236);
  font-size: 30pt;
}

.country__sub-score {
  font-size: 10pt;
  margin: 8px;
}

.country__totals {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4px;
  border-radius: 3px;
}

.box:nth-child(odd) {
  background: rgba(0, 0, 0, 0.07);
}

@media screen and (min-width: 700px) {
  .country__totals {
    width: 48%;
  }
  .box {
    width: 48%;
  }
}

