.app {
  font-family: Roboto;
  text-align: center;
}

.app__wrapper {
  display: flex;
  padding: 18px;
  flex-wrap: wrap;
  justify-content: center;
}

.app__chart-wrapper {
  padding: 24px;
  height: 100%;
  width: 100%;
}

.app__form {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .app__chart-wrapper {
    width: 40%;
  }
}

